* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	padding: 0 1rem;
	width: 100vw;
}

@media (max-width: 800px) {
	body {
		padding: 0;
	}
}

h1,
h2,
img,
p {
	caret-color: transparent;
}
