body #root,
body {
	min-height: 100vh;
	max-width: 100vw;
	padding: 0.5rem;
}

body * {
	box-sizing: border-box;
	max-width: 100%;
	margin: 0;
}

/* Solution for grid-item not fitting to viewport */
.fit-screen {
	min-width: 100%;
}

#selector-container {
	margin-bottom: 0.5rem;
}

.game-cover {
	border-radius: 50px;
	margin-bottom: 1rem;
}

h1,
h2,
img,
p,
div {
	caret-color: transparent;
}
